In [1]:
import pandas as pd
data=pd.read_csv('diabetes.csv')

In [2]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [15]:
x=data[['Glucose','BloodPressure','Insulin','SkinThickness','BMI']]
y=data['Outcome']

In [16]:
x.head()

   Glucose  BloodPressure  Insulin  SkinThickness   BMI
0      148             72        0             35  33.6
1       85             66        0             29  26.6
2      183             64        0              0  23.3
3       89             66       94             23  28.1
4      137             40      168             35  43.1

In [17]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [25]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=5)

In [20]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(477, 5)
(477,)
(318, 5)
(318,)

In [21]:
from sklearn .linear_model import LogisticRegression
logreg=LogisticRegression()
logreg.fit(x_train,y_train)
y_pred=logreg.predict(x_test)

In [22]:
x_train.head()

     Glucose  BloodPressure  Insulin  SkinThickness   BMI
115      136             70      110             32  37.1
773      147             94        0             41  49.3
189      114             80      285             34  44.2
116      107             68        0             19  26.5
326      112             72        0              0  23.6

In [24]:
logreg.predict([[110,110,50,50,30]])

C:\Users\saite\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [26]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [27]:
results=confusion_matrix(y_test,y_pred)
print(results)

[[187  26]
 [ 44  61]]

In [29]:
print('Accuracy Score:',accuracy_score(y_test,y_pred))

Accuracy Score: 0.779874213836478