In [1]:
import pandas as pd
data=pd.read_csv('hdata.csv')

In [2]:
data

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,0,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
1,1,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
2,2,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
3,3,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0
4,4,56,1,2,120,236,0,0,178,0,0.8,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,297,45,1,1,110,264,0,0,132,0,1.2,2,0,7,1
298,298,68,1,4,144,193,1,0,141,0,3.4,2,2,7,2
299,299,57,1,4,130,131,0,0,115,1,1.2,2,1,7,3
300,300,57,0,2,130,236,0,2,174,0,0.0,2,1,3,1
301,301,38,1,3,138,175,0,0,173,0,0.0,1,?,3,0

In [5]:
data1=data.drop(['Unnamed: 0'],axis=1)

In [7]:
data1.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'],
      dtype='object')

In [8]:
x=data1[['age','sex','trestbps', 'chol','thalach']]
y=data1['cp']

In [9]:
x.head(2)

   age  sex  trestbps  chol  thalach
0   67    1       160   286      108
1   67    1       120   229      129

In [10]:
y.head(2)

0    4
1    4
Name: cp, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=5)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(181, 5)
(181,)
(121, 5)
(121,)

In [12]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression(random_state=0,
                       multi_class='multinomial',
                       solver='newton-cg')

In [13]:
model=clf.fit(x_train,y_train)

In [20]:
new_observation=[[67,1,160,286,108]]

In [21]:
model.predict(new_observation)

C:\Users\saite\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([4], dtype=int64)

In [22]:
model.predict_proba(new_observation)

C:\Users\saite\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([[0.02550606, 0.04554761, 0.107329  , 0.82161733]])

In [23]:
y.unique()

array([4, 3, 2, 1], dtype=int64)